<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <h2>
      {{ activeScreen == Tabs.appointment_list ? 'Appointment Manager' : 'Create Appointment' }}
      <button *ngIf="activeScreen == Tabs.appointment_list; else backButton" (click)="switchTab(Tabs.create)"
        mat-mini-fab color="primary" class="float-right">
        <mat-icon color="grey">add</mat-icon>
      </button>

      <ng-template #backButton>
        <button (click)="switchTab(Tabs.appointment_list)" mat-mini-fab color="primary" class="float-right">
          <mat-icon color="grey">keyboard_backspace</mat-icon>
        </button>
      </ng-template>
    </h2>

    <mat-divider class="mb-3"></mat-divider>

    <app-create-appointment *ngIf="activeScreen == Tabs.create; else appointmentList"></app-create-appointment>

    <ng-template #appointmentList>
      <app-appointment-list></app-appointment-list>
    </ng-template>
  </div>
</div>