.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}
.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
mat-expansion-panel .mat-expansion-panel-content{
    padding-top: 1.5rem !important;
}
mat-expansion-panel-header.mat-expanded mat-panel-title {
    font-weight: 500;
    font-size: 16px;
}
.event-form, .event-schedule-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-form mat-form-field, .event-schedule-form mat-form-field{
    width: 400px;
}