/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

pre {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  white-space: pre-line;
}

a {
  color: #333;
}

.full-width {
  width: 100%;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.spinner {
  left: 49%;
  position: fixed !important;
  top: 15%;
  z-index: 9999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.login-container {
  height: 80vh;
}

.login-actions {
  margin-left: unset !important;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.command-wrapper button {
  margin-left: 10px;
  margin-bottom: 5px;
}

.mat-dialog-title {
  margin: 0 !important;
}

.mat-column-actions {
  flex: 0 0 60px;
}

.mat-table .mat-row:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.mat-table td.mat-cell a:hover {
  text-decoration: underline;
}

.mat-table td.mat-cell:first-child,
.mat-table td.mat-footer-cell:first-child,
.mat-table th.mat-header-cell:first-child {
  padding-left: 20px !important;
}

.mat-table td.mat-cell:last-child,
.mat-table td.mat-footer-cell:last-child,
.mat-table th.mat-header-cell:last-child {
  padding-right: 10px !important;
}

.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
}
.mat-expansion-panel-header {
  height: auto !important;
  padding: 10px 24px !important;
}
.mat-table .mat-cell a {
  color: inherit;
  text-decoration: none;
}

.no-records {
  padding-top: 20px;
  padding-bottom: 20px;
}

.refresh-button {
  margin-top: 8px !important;
}

.no-records .mat-icon {
  width: 130px;
  height: 130px;
  font-size: 130px;
  color: #c7c7c7;
}

p .mat-icon {
  vertical-align: middle;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bg-default {
  background-color: #f3f3f3;
}
.mat-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mat-toolbar {
  background: black;
  color: #fff;
}

.mat-tooltip {
  font-size: 14px;
}

.fixed-fab {
  position: fixed !important;
  right: 2%;
  bottom: 3%;
}

/* Highlight on hover */
.submitted-timesheet-day:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
/* Highlight */
.submitted-timesheet-day>div:not(.mat-calendar-body-selected) {
  border-radius: 999px;
  background-color: rgba(14, 152, 5, 0.25);
}

.table-wrapper {
  overflow: auto;
  height: calc(100vh - 270px);
  max-height: 450px;
  /* padding: 10px 5px; */
}

.animate {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Calendar */
.fc .fc-daygrid-day-number {
  font-size: 16px;
}
.fc-daygrid {
  // background-color: #f7f7f7;
}
.fc th {
  text-align: center;
  background: #f3f3f3; // #b9b9ca;
  font-size: 15px;
  font-weight: 500;
}
.fc .fc-button {
  text-transform: capitalize !important;
}
td.fc-day.fc-day-past {
  background-color: #eeeeee;
}
td.fc-day.fc-day-past .fc-daygrid-day-numbe {
  color: #aaa;
}
/* Calendar */

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}
.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
// mat-expansion-panel .mat-expansion-panel-content {
//   padding-top: 1.5rem !important;
// }
mat-expansion-panel-header.mat-expanded mat-panel-title {
  font-weight: 500;
  font-size: 16px;
}

.dark-backdrop {
  background-color: #ccc;
  opacity: 0.3 !important;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .fc-toolbar {
    font-size: 0.9em;
  }

  .fc-today-button,
  .fc-dayGridMonth-button,
  .fc-dayGridWeek-button,
  .fc-dayGridDay-button,
  .fc-event-title {
    display: none !important;
  }

  .fc .fc-daygrid-day-number,
  .fc th {
    font-size: 12px !important;
  }
}
