<mat-card>
  <mat-card-header>
    <mat-card-title>
      Analytics
      <small class="text-muted">(Last 6 Months Appointments)</small>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="appointmentBarChartData"
        [labels]="appointmentBarChartLabels"
        [options]="appointmentBarChartOptions"
        [legend]="appointmentBarChartLegend"
        [chartType]="appointmentBarChartType"
      ></canvas>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-3">
  <mat-card-header>
    <mat-card-title>
      Analytics
      <small class="text-muted">(Last 6 Months Patients)</small>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="patientBarChartData"
        [labels]="patientBarChartLabels"
        [options]="patientBarChartOptions"
        [legend]="patientBarChartLegend"
        [chartType]="patientBarChartType"
      ></canvas>
    </div>
  </mat-card-content>
</mat-card>
