<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form #regForm="ngForm" [formGroup]="registerForm" fxFlex="40%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card>
            <mat-card-title>Sign Up</mat-card-title>
            <!-- <mat-card-subtitle>Log in to your account</mat-card-subtitle> -->
            <mat-card-content>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Salutation</mat-label>
                    <mat-select formControlName="salutation">
                        <mat-option value="Dr">Dr.</mat-option>
                        <mat-option value="Mr">Mr.</mat-option>
                        <mat-option value="Mrs">Mrs.</mat-option>
                        <mat-option value="Miss">Miss.</mat-option>
                        <mat-option value="other">Other</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input id="fnameInput" matInput formControlName="firstname" type="text">

                    <mat-error id="requiredFnameError" *ngIf="registerForm.controls['firstname'].hasError('required')">
                        First Name is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input id="lastNameInput" matInput formControlName="lastname" type="text">

                    <mat-error id="requiredLnameError" *ngIf="registerForm.controls['lastname'].hasError('required')">
                        Last Name is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Email</mat-label>
                    <input id="emailInput" matInput formControlName="email" type="email">

                    <mat-error id="requiredEmailError" *ngIf="registerForm.controls['email'].hasError('required')">
                        Email is required
                    </mat-error>

                    <mat-error id="emailServerError" *ngIf="registerForm.controls['email'].hasError('serverError')">
                        {{ registerForm.controls.email.getError("serverError")}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Confirm Email</mat-label>
                    <input id="confirmEmailInput" matInput formControlName="confirm_email" type="email">

                    <mat-error id="invalidEmailError"
                        *ngIf="registerForm.controls['confirm_email'].hasError('confirm_email')">
                        Please enter a valid email address
                    </mat-error>

                    <mat-error id="notMatchEmailError"
                        *ngIf="registerForm.controls['confirm_email'].hasError('notSame')">
                        Email does not match
                    </mat-error>

                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Password</mat-label>
                    <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                        autocomplete="nope">
                    <mat-error id="requiredPasswordError" *ngIf="registerForm.controls['email'].hasError('required')">
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input id="confirmPasswordInput" matInput formControlName="confirm_password" type="password"
                        autocomplete="nope">
                    <mat-error id="requiredConfirmPasswordError"
                        *ngIf="registerForm.controls['password'].hasError('required')">
                        Confirm Password is required
                    </mat-error>

                    <mat-error id="notMatchPasswordError"
                        *ngIf="registerForm.controls['confirm_password'].hasError('notSame')">
                        Passowrd does not match
                    </mat-error>
                </mat-form-field>

                <div class="full-width">
                    <mat-slide-toggle color="primary" formControlName="agreeTerms">I agree tp all <a class="blue-link"
                            href="javascript:;">Terms &
                            Conditions</a>
                    </mat-slide-toggle>
                </div>

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button [disabled]="!registerForm.controls.agreeTerms.value || registerForm.invalid || loading"
                    mat-raised-button id="login" color="primary" class="w-100"
                    (click)="!(registerForm.invalid || loading) && register(regForm)">
                    <!-- <mat-icon>check</mat-icon> -->
                    SIGNUP
                </button>

                <p class="text-center pt-2">Alread have an account? Please <a class="blue-link"
                        [routerLink]="['/auth/login']">Sign In</a>
                </p>
            </mat-card-actions>

        </mat-card>

        <!-- <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar> -->
    </form>
</div>