<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h1>
            TeleMedicine
        </h1>

        <ng-container *ngIf="appointment; else scheduleAppointment">
            <app-appointment-confirm (onNew)="newAppointment()" *ngIf="appointment" [appointment]="appointment">
            </app-appointment-confirm>
        </ng-container>

        <ng-template #scheduleAppointment>
            <div *ngIf="meetingDetail; else notFound" class="row border  bg-white">
                <div class="col-lg-4 col-12 border-right p-4">
                    <h1>{{ meetingDetail.title }}</h1>
                    <h3 class="text-capitalize">{{ meetingDetail.location}}</h3>
                    <pre>{{ meetingDetail.description }}</pre>
                </div>
                <div class="col-lg-8 col-12 p-4">
                    <!-- Step 1: Select Date & Time -->
                    <app-scheduler-form [meetingDetail]="meetingDetail" (onSubmit)="selectDateAndTime($event)"
                        [hidden]="activeStep != Step.selectDateTime"></app-scheduler-form>

                    <!-- Step 2: Enter patient detail -->
                    <app-patient-detail-form #patientDetailForm (back)="gotoStep(Step.selectDateTime)"
                        [meetingDetail]="meetingDetail" (onSubmit)="saveAppointment($event)"
                        [hidden]="activeStep != Step.enterPatientDetail">
                    </app-patient-detail-form>
                </div>
            </div>

            <ng-template #notFound>
                <div *ngIf="!loading" class="row border bg-white">
                    <div class="col-lg-12 col-12 p-4 text-center">
                        <h1>404 - Page Not Found</h1>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </div>
</div>